* { 
    font-family: 'Segoe UI'; 
    color: #b1b1b1;
    font-size: 15px;
}

/* ---------- STATUS BAR ---------- */
QMainWindow {
    background: #2b2b2b;
}

QStatusBar {
    background: #363636;
    color: #aaaaaa;
    min-height: 40px;
}
QStatusBar.highlighted {
    background: #cfcfcf;
    color: #000000;
    font-weight: bold;
}

/* ---------- MENU / TITLE BAR ---------- */
QMenuBar { 
    background: #363636; 
}
QMenuBar::item {
    background: #363636;
    padding: 10px 15px;
}
QMenuBar::item:hover,
QMenuBar::item:selected,
QMenuBar::item:pressed { background: #4b4b4b; color: #ffffff; }

QMenu { padding: 0; margin: 0; }
QMenu::item {
    background: #252525;
    padding: 10px 30px;
}
QMenu::item:selected {
    color: #ffffff;
    background: #555555;
}
QMenu::separator {
    height: 1px;
    background: #444444;
}



/* ---------- MAIN PAGE: GENERAL ---------- */

QLabel.titleText {
    background: #000000;
    font-size: 20px;
    padding-left: 20px;
    border-bottom: 1px solid #4B4A4A; 
    max-height: 65px;
    min-height: 65px;
    color: white;
}

QLabel.boldText {
    font-weight: bold;
}

QLabel.italicText {
    font-style: italic;
}

Spinner {
}

QMessageBox {
    background: #4B4A4A;
}
QMessageBox QLabel {
    color: #ffffffff;
    font-size: 15px;
    min-width: 250px;
}
QMessageBox QPushButton {
    color: #ffffffff;
    background: rgb(22, 22, 22);
    border: none;
    min-width: 120px;
    min-height: 30px;
}
QMessageBox QPushButton:hover { background: #303030; }
QMessageBox QPushButton:pressed { background: #1f1f1f; }



/* ---------- MAIN PAGE: RECENT SEQUENCES ---------- */


RecentPanel {
    background: #101010;
    padding-right: 1px;
    border-right: 1px solid #4B4A4A;
}

QScrollArea {
    background: transparent;
    border: none;
}

#SequenceHolder {
    background: #101010;
}

QFrame.sequenceCard {
    background: #222222;
    height: 120px;
    border-bottom: 1px solid #303030;
    border-top: 1px solid #303030;
    /*padding: 10px 0px 10px 30px;*/
}

QFrame.sequenceCard QLabel {
    font-size: 15px;
    padding: 3px 0px;
    margin: 0px 0px;
}
QFrame.sequenceCard QLabel.locationLabel {
    color: #737373;
}
.sequenceButton {
    width: 100px;
    background: #292929;
    color: white;
    border: none;
}
.sequenceButton:hover { background: #5a5a5a; }
.sequenceButton:pressed { background: #3a3a3a; }


/* ---------- MAIN PAGE: BASE STATIONS ---------- */
BaseStationPanel { 
    border-right: 1px solid #4B4A4A;
}

BaseStationDisplay {
    background: #1F1F1F;
    border-top: 1px solid #333333;
}
BaseStationDisplay > QLabel {
    padding: 25px;
    color: rgb(180, 180, 180);
    font-size: 17px;
}

.baseStationIndicator {
    background: #a83116;
    max-width: 30px;
}

.baseStationIndicator.connected {
    background: #16a81b;
}


/* ---------- MAIN PAGE: SEQUENCE RUNNER ---------- */


SequencePanel { 
    background: #1F1F1F; 
    border-right: 1px solid #4B4A4A;
}

#StartButton {
    max-width: 200px;
    max-height: 65px;
    color: white;
    border: 1px solid #4B4A4A; 
    border-top: none;
    border-left: none;   

    font-weight: 900;
    font-size: 20px;
}

#StartButton.stopped { background: #16a81b; }
#StartButton.stopped:hover { background: #57c756; }
#StartButton.stopped:pressed { background: #0ba108; }

#StartButton.running { background: #a83116 }
#StartButton.running:hover { background: #cc4e32 }
#StartButton.running:pressed { background: #c02907 }

#StartButton:disabled { background: #949494; }


SequenceData {
    padding: 0px;
}

SequenceData QLabel {
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    margin-bottom: 20px;
}

.sequenceTitle {
    color: white;
    font-size: 30px;
}

QProgressBar {
    border-top: 1px solid #4B4A4A; 
    border-right: 1px solid #4B4A4A; 
    background: black;
    height: 25px;
}

SequenceLog {
    background: black;
    border-top: 1px solid #4B4A4A; 
    border-right: 1px solid #4B4A4A; 
}

.sequenceLogTitle {
    color: white;
    min-height: 40px;
    max-height: 40px;
    background: transparent;
    font-size: 15px;
    padding-left: 30px;
    
    border: 1px solid #4B4A4A; 
    border-top: none;
    border-left: none;
    border-right: none;
}

#LogHolder {
    background: black;
}

LogEntry {
    background: #262626;
    max-height: 35px;
    min-height: 35px;
    border-bottom: 1px solid #4B4A4A;
}

LogEntry QLabel {
    font-family: 'Consolas'; 
    margin-left: 30px;
}

.sequenceDroneLabel { max-width: 200px; }
.timeLabel {
    max-width: 200px;
    min-width: 200px;
}

/* ---------- MAIN PAGE: SWARM ---------- */
SwarmPanel { 
    background: #1A1A1A; 
}

#DroneHolder {
    background: transparent; 
}

DroneCard {
    background: #2E2E2E;
    border-bottom: 1px solid #4B4A4A;
    border-right: 1px solid #4B4A4A;
    max-height: 150px;
    min-height: 150px;
}


QLabel.droneName {
    font-size: 20px;
    font-weight: bold;
}
.droneStatusIndicator { 
    background: #707070; 
    min-width: 30px;
    margin: 0px 0px 1px 0px;
}

.droneStatusIndicator.idle { background: #bebebe; }
.droneStatusIndicator.initializing { background: #E2DD52; }
.droneStatusIndicator.positioning { background: #2d9acc; }
.droneStatusIndicator.ready { background: #126615; }
.droneStatusIndicator.in_flight { background: #16a81b; }
.droneStatusIndicator.landing { background: #cf8e2d; }

.refreshButton {
    max-width: 65px;
    max-height: 65px;
    color: white;
    background: black;
    border: 1px solid #4B4A4A; 
    border-top: none;
    border-left: none;    
}

.refreshButton:hover { background: #303030; }
.refreshButton:pressed { background: #1f1f1f; }



/* ---------- MISC: SCROLL BAR ---------- */
QScrollBar:vertical {
    background: black;
    color: #4B4A4A;
    border-left: 1px solid #4B4A4A;
    width: 20px;
    margin: 0px 0px 0px 0px;
}

QScrollBar::handle:vertical { background: #868686; }
QScrollBar::add-line:vertical { height: 0px; }
QScrollBar::sub-line:vertical { height: 0px; }
QScrollBar::add-page:vertical,
QScrollBar::sub-page:vertical { background: none; }