###### Requirements without Version Specifiers ######`
numpy
openvr
docutils 
pygments
pypiwin32
PyQt5
vispy
pyinstaller
cmake
cflinkcpp
munkres


###### Local Packages ######`
-e crazyflie-lib-python