###### Requirements without Version Specifiers ######`
numpy
openvr
docutils 
pygments
pypiwin32
PyQt5
vispy
pyinstaller
cmake
cflinkcpp
munkres
pylint
cflib
matplotlib
sip
PyQt5-sip
# cfloader - comes thru cfclient, dont install separately

###### Local Packages ######`
# -e crazyflie-lib-python