* { 
    font-family: 'Segoe UI'; 
    color: #b1b1b1;
    font-size: 15px;
}

/* ---------- STATUS BAR ---------- */
QMainWindow {
    background: #2b2b2b;
}

QStatusBar {
    background: #363636;
    color: #aaaaaa;
    min-height: 40px;
}
QStatusBar.highlighted {
    background: #cfcfcf;
    color: #000000;
    font-weight: bold;
}

/* ---------- MENU / TITLE BAR ---------- */
QMenuBar { 
    background: #363636; 
}
QMenuBar::item {
    background: #363636;
    padding: 10px 15px;
}
QMenuBar::item:hover,
QMenuBar::item:selected,
QMenuBar::item:pressed { background: #4b4b4b; color: #ffffff; }

QMenu { padding: 0; margin: 0; }
QMenu::item {
    background: #252525;
    padding: 10px 30px;
}
QMenu::item:selected {
    color: #ffffff;
    background: #555555;
}
QMenu::separator {
    height: 1px;
    background: #444444;
}



/* ---------- MAIN PAGE: GENERAL ---------- */

QLabel.titleText {
    background: #000000;
    font-size: 20px;
    padding-left: 20px;
    border-bottom: 1px solid #4B4A4A; 
    max-height: 65px;
    min-height: 65px;
    color: white;
}

QLabel.boldText {
    font-weight: bold;
}

QLabel.italicText {
    font-style: italic;
}

Spinner {
}

QMessageBox {
    background: #4B4A4A;
    min-width: 300px;
    height: 150px;
}
QMessageBox QLabel {
    color: #ffffffff;
    font-size: 15px;
    min-width: 250px;
}
QMessageBox QPushButton {
    color: #ffffffff;
    background: rgb(22, 22, 22);
    border: none;
    min-width: 120px;
    min-height: 30px;
}
QMessageBox QPushButton:hover { background: #303030; }
QMessageBox QPushButton:pressed { background: #1f1f1f; }



/* ---------- MAIN PAGE: RECENT SEQUENCES ---------- */


RecentPanel {
    background: #101010;
    padding-right: 1px;
    border-right: 1px solid #4B4A4A;
}

QScrollArea {
    background: transparent;
    border: none;
}

#SequenceHolder {
    background: #101010;
}

QFrame.sequenceCard {
    background: #222222;
    height: 120px;
    border-bottom: 1px solid #303030;
    border-top: 1px solid #303030;
    /*padding: 10px 0px 10px 30px;*/
}

QFrame.sequenceCard QLabel {
    font-size: 15px;
    padding: 3px 0px;
    margin: 0px 0px;
}
QFrame.sequenceCard QLabel.locationLabel {
    color: #737373;
}
.sequenceButton {
    width: 100px;
    background: #292929;
    color: white;
    border: none;
}
.sequenceButton:hover { background: #5a5a5a; }
.sequenceButton:pressed { background: #3a3a3a; }

.sequenceRemoveButton {
    width: 50px;
    background: #292929;
    color: white;
    border: none;
}
.sequenceRemoveButton:hover { background: #3a3a3a; }
.sequenceRemoveButton:pressed { background: #171717; }

/* ---------- MAIN PAGE: BASE STATIONS ---------- */
BaseStationPanel { 
    border-right: 1px solid #4B4A4A;
}

BaseStationDisplay {
    background: #1F1F1F;
    border-top: 1px solid #555555;
    border-right: 1px solid #555555;
    border-bottom: 1px solid #555555;
}
BaseStationDisplay > QLabel {
    padding: 25px;
    color: rgb(180, 180, 180);
    font-size: 17px;
}

.baseStationIndicator {
    background: #a83116;
    max-width: 30px;
    border-left: 2px solid #222222;
}

.baseStationIndicator.connected {
    background: #16a81b;
}

.calibrationButton {
    background: #444444;
    color: white;
    min-height: 50px;
    font-size: 15px;
    font-weight: bold;
    border: none;
}

.calibrationButton:hover { background: #5f5f5f; }
.calibrationButton:pressed { background: #111111; }

/* ---------- WIDGETS: BUTTON BAR ---------- */
ButtonBar {
    background: #121212;
    padding: 0px 0px;
    border-bottom: 1px solid #4B4A4A;
    border-right: 1px solid #4B4A4A;
}

ButtonBar .buttonBarTitle {
    font-size: 15px;
    color: white;
    margin: 10px 30px;
}

.buttonBarButton {
    border: none;
    border-left: 1px solid #515151;
    background: #171717;
    font-weight: bold;
    font-size: 15px;
    color: white;
}

.buttonBarButton.enabled {
    /* border: 1px solid #a4a4a4; */
    background: #414141;
}
.buttonBarButton.enabled.special {
    background: #474747;
}
.buttonBarButton:hover { background: #4d4d4d; }
.buttonBarButton:pressed { background: #4f4f4f; }

/* ---------- MAIN PAGE: SEQUENCE RUNNER ---------- */


SequencePanel { 
    background: #1F1F1F; 
    border-right: 1px solid #4B4A4A;
}

#StartButton {
    max-width: 200px;
    max-height: 65px;
    color: white;
    border: 1px solid #4B4A4A; 
    border-top: none;
    border-left: none;   

    font-weight: 900;
    font-size: 20px;
}

#StartButton.stopped { background: #16a81b; }
#StartButton.stopped:hover { background: #57c756; }
#StartButton.stopped:pressed { background: #0ba108; }

#StartButton.running { background: #a83116 }
#StartButton.running:hover { background: #cc4e32 }
#StartButton.running:pressed { background: #c02907 }

#StartButton:disabled { background: #949494; }


SequenceData {
    padding: 0px;
}

SequenceData QLabel {
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    margin-bottom: 20px;
}

.sequenceTitle {
    color: white;
    font-size: 30px;
}

QProgressBar {
    border-top: 1px solid #4B4A4A; 
    border-right: 1px solid #4B4A4A; 
    background: black;
    height: 25px;
}

SequenceLog {
    background: black;
    border-top: 1px solid #4B4A4A; 
    border-right: 1px solid #4B4A4A; 
}

.sequenceLogTitle {
    color: white;
    min-height: 40px;
    max-height: 40px;
    background: transparent;
    font-size: 15px;
    padding-left: 30px;
    
    border: 1px solid #4B4A4A; 
    border-top: none;
    border-left: none;
    border-right: none;
}

#LogHolder {
    background: black;
}

LogEntry {
    background: #262626;
    max-height: 35px;
    min-height: 35px;
    border-bottom: 1px solid #4B4A4A;
}

LogEntry QLabel {
    font-family: 'Consolas'; 
    margin-left: 30px;
}

LogEntry.WARN QLabel {
    color: #fff536;
    font-weight: 500;
}

LogEntry.ERROR QLabel {
    color: #ff4929;
    font-weight: 500;
}

LogEntry.SUCCESS QLabel {
    color: #00de07;
    font-weight: 500;
}

.logContextLabel {
    max-width: 120px;
    min-width: 120px;
}

/* ---------- MAIN PAGE: SWARM ---------- */
SwarmPanel { 
    background: #1A1A1A; 
}

#DroneHolder {
    background: transparent;
}

DroneCard {
    background: #2E2E2E;
    border-bottom: 1px solid #4B4A4A;
    border-right: 1px solid #4B4A4A;
    max-height: 150px;
    min-height: 150px;
}


QLabel.droneName {
    font-size: 20px;
    font-weight: bold;
}
.droneStatusIndicator { 
    background: #707070; 
    min-width: 30px;
    margin: 0px 0px 1px 0px;
}

.droneStatusIndicator.initializing { background: #E2DD52; }
.droneStatusIndicator.connected { background: #16a81b; }
.droneStatusIndicator.in_flight { background: #2d9acc; }
.droneStatusIndicator.landing { background: #cf8e2d; }
.droneStatusIndicator.error { background: #ed3f00; }

.batteryLevel {
    padding: 0px 15px;
    font-size: 15px;
    font-weight: bold;
    background: #2E2E2E;
    border-bottom: 1px solid #4B4A4A;
    border-right: 1px solid #3a3a3a;
}


.batteryLevel.red { color: #ff2414; }
.batteryLevel.orange { color: #ffa200; }
.batteryLevel.yellow { color: #f7ef00; }
.batteryLevel.green { color: #00fa0c; }


.swarmButton {
    max-width: 90px;
    max-height: 65px;
    color: white;
    background: black;
    border: 1px solid #4B4A4A;
    border-top: none;
    border-right: none;
}

.refreshButton:hover { background: #303030; }
.refreshButton:pressed { background: #1f1f1f; }

.swarmTestButton:hover { background: #2a5cad; }
.swarmTestButton:pressed { background: #8cb8ff; }

.killButton:hover { background: #d13328; }
.killButton:pressed { background: #f75940; }

.swarmBatteryButton:hover { background: #303030; }
.swarmBatteryButton:pressed { background: #1f1f1f; }


/* -- Swarm Settings -- */
.settingsFrame {
    background: #141414;
}

.settingsFrame QLabel {
    margin-left: 15px;
}

.channelFrame, .addressFrame {
    border: none;
    border-top: 1px solid #353535;
}

.settingsFrame QLineEdit {
    min-height: 40px;
    color: #d2d2d2;
    background: black;
    border: none;
    border-left: 1px solid #353535;
    border-right: 1px solid #353535;
}

.settingsFrame QLineEdit:focus {
    background: #959595;
    color: black;
}

.toLabel {
    max-width: 39px;
}

.addressMin, .addressMax {
    max-width: 175px;
}
.channelEdit {
    max-width: 100px;
}

.settingsFrame QLineEdit.error {
    background: #c9685d;
    color: black;
}



/* ---------- MISC: SCROLL BAR ---------- */
QScrollBar:vertical {
    background: black;
    color: #4B4A4A;
    border-left: 1px solid #4B4A4A;
    width: 20px;
    margin: 0px 0px 0px 0px;
}

QScrollBar::handle:vertical { background: #868686; }
QScrollBar::add-line:vertical { height: 0px; }
QScrollBar::sub-line:vertical { height: 0px; }
QScrollBar::add-page:vertical,
QScrollBar::sub-page:vertical { background: none; }